<div class="columns">
  <div class="column is-full">
    <% @content[:articles].each do |article| %>
      <div class="card article">
        <div class="card-image">
          <figure class="image is-16by9">
            <noscript><img src="<%= article[:image] %>" alt="<%= article[:title] %>"></noscript>
            <img class="lazyload" data-src="<%= article[:image] %>" alt="<%= article[:title] %>">
          </figure>
        </div>
        <div class="card-content">
          <div class="media">
            <div class="media-left">
              <figure class="image is-48x48">
                <noscript><img src="services/<%= article[:source] %>.png" alt="<%= article[:source] %>"></noscript>
                <img class="lazyload" data-src="services/<%= article[:source] %>.png" alt="<%= article[:source] %>">
              </figure>
            </div>
            <div class="media-content">
              <p class="title is-4"><%= article[:title] %></p>
              <p class="subtitle is-6">
                <%= article[:metadata][:author] %>
                &mdash;
                <time datetime="<%= article[:metadata][:pubdate] %>">
                  <%= article[:metadata][:pubdate].to_formatted_s(:long_ordinal) %>
                </time>
              </p>
            </div>
          </div>
          <div class="content">
            <%= simple_format article[:summary] %>
          </div>
        </div>
        <footer class="card-footer">
          <a href="<%= article[:href] %>" class="card-footer-item" target="_blank">View full article at <%= article[:source] %></a>
        </footer>
      </div>
    <% end %>

    <div class="content has-text-centered has-text-grey-dark is-italic is-size-7">
      <div class="timestamp">
        Last updated
        <time datetime="<%= @content[:updated_at].strftime("%FT%T") %>"><%= @content[:updated_at] %></time>
      </div>
      <div class="oss">
        <a href="https://github.com/trmcnvn/gamerly" target="_blank">GitHub</a>
      </div>
    </div>
  </div>
</div>
